# Python
backend/venv/
backend/.env
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/hackathon.db
backend/test.db

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/google-services.json
android/**/*.apk

# OS temp files
.DS_Store
Thumbs.db
